<main class="flex items-center justify-center h-screen bg-gray-100" #opacity>
  <form [formGroup]="loginForm"
    (submit)="submitLogin()"
  >
    <div class="bg-white w-96 p-6 rounded shadow-2xl">
      <div class="flex items-center justify-center mb-4">
        <img src="/assets/logohome_icon.svg" class="h-20" />
      </div>
      <label class="input-group py-2 px-1 flex flex-col">
        <!-- <span> Usuario  <i class="fa-solid fa-user"></i></span> -->
        <input class="input input-bordered w-full"
          type="email"
          placeholder="correo"
          formControlName="email"
        />
        <app-text-validator *ngIf="fieldValidator('email')"
          message="correo requerido"
        >
        </app-text-validator>
      </label>
      <label class="input-group py-2 px-1 flex flex-col" >
        <!-- <span>Contraseña <i class="fas fa-user-lock"></i></span> -->
        <input class="input input-bordered w-full"
          placeholder="contraseña"
          type="password"
          formControlName="password"
        />
        <app-text-validator *ngIf="fieldValidator('password')"
        message="contraseña requerida"
      >
      </app-text-validator>
      </label>
      <button
        type="submit"
        class="bg-blue-500 w-full text-gray-100 py-2 rounded hover:bg-blue-600 transition-colors"
      >
        Iniciar Sesión
      </button>
    </div>
  </form>
</main>
<app-progress *ngIf="progressState"></app-progress>
