<div class=" bg-gray-300">
  <div class="bg-white m-10 rounded-md border-2 border-gray-400 px-6 py-5" >
    <p class=" font-medium text-black/80 my-3"> Categorias </p>
    <div class="border">
      <select class="select w-full max-w-xs">
        <option disabled selected>Seleccione una Categoria</option>
        <option> Tecnlogia </option>
        <option>Biologia </option>
        <option>Arte </option>
        <option> Musica </option>
        <option> Juegos </option>
      </select>
    </div>
    <div class=" bg-gray-200 mt-10 p-4 rounded-sm">
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text">Proyectos Destacados</span>
          <input type="radio" name="radio-10" class="radio checked:bg-blue-500" checked />
        </label>
      </div>
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text">Refugio de Animales</span>
          <input type="radio" name="radio-10" class="radio checked:bg-blue-500" checked />
        </label>
      </div>
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text">Proyectos Sociales</span>
          <input type="radio" name="radio-10" class="radio checked:bg-blue-500" checked />
        </label>
      </div>
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text">Proyectos tecnologicos</span>
          <input type="radio" name="radio-10" class="radio checked:bg-blue-500" checked />
        </label>
      </div>
    </div>
  </div>
</div>
