<p class="font-bold text-black/80 text-2xl mt-4 text-center">Fundación</p>
<ul class="px-6 py-2 font-medium">
  <li class="hover:bg-gray-400 my-3 py-1 rounded-sm cursor-pointer flex"
    routerLink="/fundacion/perfil"
  >
    <img alt="icon" src="../../../../assets/icons/🦆 icon _person_.svg" class="mx-2"/>
    Perfil
  </li>
  <li class="hover:bg-gray-400 my-3 py-1 rounded-sm cursor-pointer flex"
    routerLink="/fundacion/home"
  >
    <img alt="icon" src="../../../../assets/icons/🦆 icon _folder add_.svg" class="mx-2"/>
    Proyectos
  </li>
</ul>
